<div class="row-fluid">
	<h2>Wish List</h2>
	<div id="currently-reading" class="carousel slide">
	  <div class="carousel-inner">
		    <div class="active item">
		    	<div class="collection" class="container">
			    	<a href="#"><img src="<%= asset_path('book_covers/jobs.jpeg') %>" alt="" /></a>
			    	<a href="#"><img src="<%= asset_path('book_covers/git.jpeg') %>" alt="" /></a>
			    	<a href="#"><img src="<%= asset_path('book_covers/real.jpeg') %>" alt="" /></a>
					<a href="#"><img src="<%= asset_path('book_covers/onward.jpeg') %>" alt="" /></a>
					<a href="#"><img src="<%= asset_path('book_covers/rework.jpeg') %>" alt="" /></a>
		    	</div>
		    </div><!-- .item -->
		    <div class="item">
		    	<div class="collection" class="container">
			    	<img src="<%= asset_path('book_covers/think.jpeg') %>" alt="" />
			    	<img src="<%= asset_path('book_covers/closing_time.large.jpg') %>" alt="" />
			    	<img src="<%= asset_path('book_covers/navigators_of_the_contemporary.large.jpg') %>" alt="" />
			    	<img src="<%= asset_path('book_covers/los_detectives_salvajes.large.jpg') %>" alt="" />
					<a href="#"><img src="<%= asset_path('book_covers/tipping.jpeg') %>" alt="" /></a>
				</div>
			</div><!-- .item -->
		</div><!-- .carousel-inner -->
		<a class="carousel-control left" href="#currently-reading" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#currently-reading" data-slide="next">&rsaquo;</a>
	</div> <!-- #currently-reading -->
</div>
<script>
	jQuery(document).ready(function($) {
		$('.carousel').carousel('pause');
	});
</script>
<div class="row-fluid">
	<h2>Books I've Read</h2>
	<div id="past-read" class="carousel slide" data-interval="false">
	  <div class="carousel-inner">
		    <div class="active item">
		    	<div class="collection" class="container">
			    	<a href="#"><img src="<%= asset_path('book_covers/flames.jpeg') %>" alt="" /></a>
			    	<a href="#"><img src="<%= asset_path('book_covers/cats.jpeg') %>" alt="" /></a>
			    	<a href="#"><img src="<%= asset_path('book_covers/love.jpeg') %>" alt="" /></a>
			    	<a href="#"><img src="<%= asset_path('book_covers/pride.jpeg') %>" alt="" /></a>
					<a href="#"><img src="<%= asset_path('book_covers/sun.jpeg') %>" alt="" /></a>
		    	</div>
		    </div><!-- .item -->
		    <div class="item">
		    	<div class="collection" class="container">
					<a href="#"><img src="<%= asset_path('book_covers/hunger.jpeg') %>" alt="" /></a>
			    	<img src="<%= asset_path('book_covers/contemporary_athletics_and_ancient_greek_ideals.large.jpg') %>" alt="" />
			    	<img src="<%= asset_path('book_covers/closing_time.large.jpg') %>" alt="" />
			    	<img src="<%= asset_path('book_covers/navigators_of_the_contemporary.large.jpg') %>" alt="" />
			    	<img src="<%= asset_path('book_covers/los_detectives_salvajes.large.jpg') %>" alt="" />
				</div>
			</div><!-- .item -->
		</div><!-- .carousel-inner -->
		<a class="carousel-control left" href="#past-read" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#past-read" data-slide="next">&rsaquo;</a>
	</div> <!-- #currently-reading -->
</div>