<%= render 'head' %>
<% if user_signed_in? %>
	<%= render 'user_nav' %>
<% else %>
	<%= render 'nav' %>
<% end %>
<div id="content-sidebar-wrap" class="container-fluid full-width">
	<div class="row-fluid">
		<div id="content" class="span12">
			<%= render partial: 'flash', object: flash %>
			<%= yield %>
		</div><!-- #content .span12 -->
	</div><!-- row-fluid -->
	<div class="push"><!-- sticky footer --></div>
</div><!-- #content-sidebar-wrap -->
<%= render 'footer' %>